<a href="https://colab.research.google.com/github/vaibhavjaybhaye09/AI_ML/blob/main/Netflix_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Netflix **dataset**


---

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = pd.read_csv('/netflix_titles.csv')

In [10]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [11]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [13]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df.count()

show_id         8807
type            8807
title           8807
director        6173
cast            7982
country         7976
date_added      8797
release_year    8807
rating          8803
duration        8804
listed_in       8807
description     8807
dtype: int64

In [16]:
df.shape

(8807, 12)

In [17]:
df['Total Cast'] = df['cast'].apply(lambda x: len(x.split(',')) if isinstance(x,str) else 0)

In [ ]:
df['Total Cast']

0        0
1       19
2        9
3        0
4        8
        ..
8802    10
8803     0
8804     7
8805     9
8806     8
Name: Total Cast, Length: 8807, dtype: int64

In [18]:
df['rating']

0       PG-13
1       TV-MA
2       TV-MA
3       TV-MA
4       TV-MA
        ...
8802        R
8803    TV-Y7
8804        R
8805       PG
8806    TV-14
Name: rating, Length: 8807, dtype: object

In [21]:
def rating_group(rating):
  if rating == 'TV-MA' or rating == 'R':
      return 'Adults'
  elif rating == 'PG-13' or rating == 'PG':
      return 'Teens'
  elif rating == 'TV-14' or rating == 'TV-PG':
      return 'Young & Adults'
  elif rating == 'NR':
      return 'N/A'
  else:
    return 'Children'

In [22]:
df['Ratings'] = df['rating'].apply(rating_group)

In [25]:
df['Ratings']

0                Teens
1               Adults
2               Adults
3               Adults
4               Adults
             ...
8802            Adults
8803          Children
8804            Adults
8805             Teens
8806    Young & Adults
Name: Ratings, Length: 8807, dtype: object

In [27]:
df['rating'].drop(axis = True, index = 8)

0       PG-13
1       TV-MA
2       TV-MA
3       TV-MA
4       TV-MA
        ...
8802        R
8803    TV-Y7
8804        R
8805       PG
8806    TV-14
Name: rating, Length: 8806, dtype: object

In [29]:
df.drop('rating', axis = True, inplace= True)

In [38]:
df['date_added'].isnull().sum()

np.int64(10)

In [45]:
df = df.dropna( subset = ['date_added'])

In [46]:
df['date_added'].isnull().sum()

np.int64(0)

In [48]:
df = df.reset_index(drop = True)

In [51]:
df['date_added'] = df['date_added'].str.strip()

In [52]:
df['date_added'] = pd.to_datetime(df['date_added'])

In [55]:
df['date_added'].isnull().sum()

np.int64(0)

In [61]:
def func(duration):
  if duration == 'min':
    return 'Serise'
  else:
    return 'Movie'

In [62]:
df['Duration Unit'] = df['duration'].apply(func)

0       Movie
1       Movie
2       Movie
3       Movie
4       Movie
        ...
8792    Movie
8793    Movie
8794    Movie
8795    Movie
8796    Movie
Name: Duration Unit, Length: 8797, dtype: object