New Project
find movies 5 as smimilar and using tag

In [10]:
import numpy as np
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer

ModuleNotFoundError: No module named 'numpy'

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits =pd.read_csv('tmdb_5000_credits.csv')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [ ]:
credits.head(1)
credits.shape

(4803, 4)

Merge two dataframe

In [ ]:
df = movies.merge(credits, on = 'title')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [ ]:
shape = df.shape
ok = df.describe(include='all')
nulls = df.isnull().sum()

print(shape,ok,nulls)

(4809, 23)               budget                         genres  \
count   4.809000e+03                           4809
unique           NaN                           1175
top              NaN  [{"id": 18, "name": "Drama"}]
freq             NaN                            372
mean    2.902780e+07                            NaN
std     4.070473e+07                            NaN
min     0.000000e+00                            NaN
25%     7.800000e+05                            NaN
50%     1.500000e+07                            NaN
75%     4.000000e+07                            NaN
max     3.800000e+08                            NaN

                                homepage             id keywords  \
count                               1713    4809.000000     4809
unique                              1691            NaN     4222
top     http://www.thehungergames.movie/            NaN       []
freq                                   4            NaN      412
mean                                 NaN   57120.571429      NaN
std                                  NaN   88653.369849      NaN
min                                  NaN       5.000000      NaN
25%                                  NaN    9012.000000      NaN
50%                                  NaN   14624.000000      NaN
75%                                  NaN   58595.000000      NaN
max                                  NaN  459488.000000      NaN

       original_language original_title  \
count               4809           4809
unique                37           4801
top                   en         Batman
freq                4510              4
mean                 NaN            NaN
std                  NaN            NaN
min                  NaN            NaN
25%                  NaN            NaN
50%                  NaN            NaN
75%                  NaN            NaN
max                  NaN            NaN

                                                 overview   popularity  \
count                                                4806  4809.000000
unique                                               4800          NaN
top     A parasitic alien soul is injected into the bo...          NaN
freq                                                    2          NaN
mean                                                  NaN    21.491664
std                                                   NaN    31.803366
min                                                   NaN     0.000000
25%                                                   NaN     4.667230
50%                                                   NaN    12.921594
75%                                                   NaN    28.350529
max                                                   NaN   875.581305

       production_companies  ...      runtime  \
count                  4809  ...  4807.000000
unique                 3697  ...          NaN
top                      []  ...          NaN
freq                    352  ...          NaN
mean                    NaN  ...   106.882255
std                     NaN  ...    22.602535
min                     NaN  ...     0.000000
25%                     NaN  ...    94.000000
50%                     NaN  ...   103.000000
75%                     NaN  ...   118.000000
max                     NaN  ...   338.000000

                                spoken_languages    status  \
count                                       4809      4809
unique                                       544         3
top     [{"iso_639_1": "en", "name": "English"}]  Released
freq                                        3175      4801
mean                                         NaN       NaN
std                                          NaN       NaN
min                                          NaN       NaN
25%                                          NaN       NaN
50%                                          NaN       NaN
75%                                          NaN       NaN
max                                          NaN       NaN

                       tagline     title vote_average    vote_count  \
count                     3965      4809  4809.000000   4809.000000
unique                    3944      4800          NaN           NaN
top     Based on a true story.  The Host          NaN           NaN
freq                         3         4          NaN           NaN
mean                       NaN       NaN     6.092514    690.331670
std                        NaN       NaN     1.193989   1234.187111
min                        NaN       NaN     0.000000      0.000000
25%                        NaN       NaN     5.600000     54.000000
50%                        NaN       NaN     6.200000    235.000000
75%                        NaN       NaN     6.800000    737.000000
max                        NaN       NaN    10.000000  13752.000000

             movie_id  cast  crew
count     4809.000000  4809  4809
unique            NaN  4761  4776
top               NaN    []    []
freq              NaN    43    28
mean     57120.571429   NaN   NaN
std      88653.369849   NaN   NaN
min          5.000000   NaN   NaN
25%       9012.000000   NaN   NaN
50%      14624.000000   NaN   NaN
75%      58595.000000   NaN   NaN
max     459488.000000   NaN   NaN

[11 rows x 23 columns] budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [ ]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

Remove unessary columns

In [ ]:

movies = df[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [ ]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.dropna(inplace=True)

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [ ]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

change the format of geres like ['action,'advanture']

In [ ]:
def convert(obj):
    L =[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [ ]:
movies['genres'] = movies['genres'].apply(convert)

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\2740436845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert)

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [ ]:
movies['keywords'] = movies['keywords'].apply(convert)

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\3328512696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [ ]:
def convert3(obj):
    L =[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
    return L

In [ ]:
movies['cast'] = movies['cast'].apply(convert3)

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\3593664571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(convert3)

In [ ]:
def fetch_director(obj):
    L =[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\2884021428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(fetch_director)

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\2396809933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

Remove spaces 4 columns

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\3045808344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\3045808344.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\3045808344.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\3045808344.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

concatinate columns

In [ ]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords']+ movies['crew'] + movies['cast']

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\2549488458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords']+ movies['crew'] + movies['cast']

In [ ]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [ ]:
new_df = movies[['movie_id','title','tags']]
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head(2)

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\2337206404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())
new_df['tags']

C:\Users\cg636\AppData\Local\Temp\ipykernel_5880\873727930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

Vectorization form = (2D space cordinate x,y ,every movie convrt every tag beacuse ecery tag make vectors )

closes vectors we have
using technique - bag of words = all tags combines (concatinate large text in give 5000 most words i want )
w1 w2 w3 w500 we find 
action freequenly count , feautre = 3 count 
2nd movie

In [ ]:
cv = CountVectorizer(max_features=5000,stop_words='english')

It creates a text-to-number converter that removes common English words and keeps only the 5000 most frequent meaningful words.

In [ ]:
vectors = cv.fit_transform(new_df['tags'].toarray())
vectors

In [ ]:
vectors[0]

In [ ]:
cv.get_feature_names()

its get [lovings , loves ]
get convert to actual words = [love , love]

In [ ]:
ps = PorterStemmer()
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)